.block-editor-multi-selection-inspector__card {
	padding: $grid-unit-20;
}

.block-editor-multi-selection-inspector__card-title {
	font-weight: 500;
}

.block-editor-multi-selection-inspector__card .block-editor-block-icon {
	margin-left: -2px;
	padding: 0 3px;
	width: $button-size;
	height: $button-size-small;
}

.block-editor-multi-selection-inspector__connected-block-description {
	display: flex;
	align-items: center;
	gap: $grid-unit-05;
	padding-top: $grid-unit-20;

	svg {
		flex-shrink: 0;
		fill: var(--wp-block-synced-color);
	}
}
